@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    --background: #4B7893;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #333;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.content {
    height: 30vh;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    top: 500px;
}

.siden{
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    background-color: #F7F7F7;
    padding: 32px;
    text-align: center;
}

h1 {
    font-size: 350%;
}


